{{define "inicio"}}
{{template "cabecera"}}

   <a name="" id="" class="btn btn-primary" href="/formulario" role="button">Agregar usuario</a>

<table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Correo</th>
                <th>Contraseña</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> Alejandra </td>
                <td> alejandra.arismendi1@gmail.com </td>
                <td> aaaa </td>
                <td> Editar | Borrar </td>
            </tr>
            
        </tbody>
    </table>

{{template "pie"}}
{{end}}

